.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;    
}
  
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: darkgray;}

  body{
    background-image: url('kepek/hatter.jpeg');
    background-repeat:initial  ;
    background-attachment: fixed;
    background-position: center; 
  }



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: wheat;
    color: black;
    text-align: center;
 }

#hatterszin{
  background-color: wheat;
}

 #bemutatas{
  float: left;
 }

 h1{
  text-align: center;
 }

 #tortenet{
  float: left;
 }

 #kep1{
  float: left; 
  clear: left;
  width: 370px;
 
 }

 #kep2{
  float: right; 
  clear: left;
 
 }